.mat-card-image {
  width: calc(10% + 32px) !important;
  margin: 0;
  float: right;
}

// .parent {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }
.header {
  display: flex;
  justify-content: space-between;
}

mat-card {
  width: 100%;
  background: white;
  margin: 5px;
  padding: 10px;
}

.container {
  width: 90% !important;
  display: flex;
  justify-content: center;
}

button {
  margin-left: 20px;
}
