

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Billing Info</mat-card-title>
    
    </mat-card-header>
   
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Customer Name</mat-label>
              <input matInput  >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email Adderess</mat-label>
                <input matInput  >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Mobile Number</mat-label>
                <input matInput  >
              </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Billing Address</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </form>
    </mat-card-content>   
  </mat-card>

  <button mat-flat-button  color="accent" (click)="onSubmit()"> Submit </button>
  