<form class="example-form" autocomplete="off">
    <mat-form-field class="example-full-width">
      <mat-label>Search Books</mat-label>
      <input matInput placeholder="Ex. Pizza" #value name="value" [(ngModel)]="searchTerm" >
      <mat-icon aria-hidden="false" aria-label="Example icon" (click)="searchBook(value.value)">search</mat-icon>

    </mat-form-field>
    
</form>

<div class="book-container" *ngIf="searchData">
  <div *ngFor="let item of searchData.items">
  <div class="book">
   <app-book [book]="item" (click)="onDetail(item.id)"></app-book>
  </div>
  </div>
  </div>

